<h2>Channel Sub/Unsub</h2>

<form id="channel-input">
  <input id="channel-name" type="text" placeholder="Channel Name" autocomplete="off">
  <button id="channel-subscribe" type="submit">Subscribe</button>
  <button id="channel-unsubscribe">Unsubscribe</button>
</form>

<h2>Ephemeral Thoughts</h2>

<form id="text-input">
  <input id="thought" type="text" placeholder="What's on your mind?" autocomplete="off">
  <button id="submit" type="submit">Submit</button>
</form>

<ul id="thoughts">
</ul>

<script src="/js/ekko-client-v0.0.1.js"></script>
<script src="/js/script.js"></script>